.blueCard {
  background-color: #3367d6;
  height: 54px;
  width: 40vw;
}
.img {
  height: 24px;
  width: 49px;
  margin-left: 53px;
  padding-top: 10px;
}
input {
  height: 24px;
  width: 220px;
  border-color: #64748b;
  margin-left: 53px;
}
.heading {
  color: #64748b;
  font-size: 11px;
  font-weight: bolder;
}
.orders {
  background-color: white;
  color: black;
  box-shadow: 2px 2px 2px rgba(0 0 0 0.3px);
  height: 100vh;
  width: 40vw;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: space-between;
  flex-wrap: wrap;
}
.title {
  padding: 13px;
  font-size: 12px;
}
.time {
  color: #64748b;
  font-size: xx-small;
  font-weight: lighter;
  margin-right: 15px;
}
.xx {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 15px;
}
.delete-icon {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
}
.delete {
  height: 23px;
  width: 23px;
}
